/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f8fbff;
color:#222;
overflow-x:hidden;
}

a{
text-decoration:none;
}

img{
max-width:100%;
display:block;
}

button{
cursor:pointer;
transition:.3s;
}

button:hover{
transform:translateY(-2px);
}

section{
padding:80px 8%;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

h1,h2,h3,h4{
font-weight:700;
}

p{
line-height:1.8;
color:#666;
}

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#0d6efd;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#ececec;
}

::selection{
background:#0d6efd;
color:white;
}